<!DOCTYPE html>
<html ng-app="newsApp">
  <head>
    <title>News Splinter home</title>
    <link href="/main.css" rel="stylesheet">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/angularq.js"></script>
    <link rel="stylesheet" href="/css-circle/css/circle.css">
  </head>
  <body ng-controller="newsArticlesCntl">
      <div id="grad1">
        <div class="brand">News<span>Splinter</span></div>
        <img ng-src="/images/newsicon.png" height="70px" width="70px">
      </div>

    <div class="container" >
          <div class="row">
            <div id="col4C" class="col-md-4" >

              <div id="cir1" class="clearfix">
                  <div class="c100" ng-class="positiveClass">
                      <span>{{positivePercent}}%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div id="f1" class="fill"></div>
                      </div>
                  </div>
                </div>

              <div class="image" ng-repeat="eachObj in newsPositiveDataArray">
                <div id="lightenUp">
                <a ng-href="{{eachObj.url}}" target="_blank">
                <img ng-src="{{eachObj.urlToImage}}" height="228px" width="304px"></a>
                  <h5 id="text">{{eachObj.title}}</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="cir2" class="clearfix">
                  <div class="c100" ng-class="neutralClass">
                      <span>{{neutralPercent}}%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>

              <div class="image" ng-repeat="eachObj in newsNeutralDataArray">
                <div id="lightenUp">
                <a ng-href="{{eachObj.url}}" target="_blank">
                <img ng-src="{{eachObj.urlToImage}}" height="228px" width="304px"/></a>
                  <h5 id="text">{{eachObj.title}}</h5>
                  </div>
              </div>
            </div>

            <div class="col-md-4">
              <div id="cir3" class="clearfix">
                  <div class="c100" ng-class="negativeClass">
                      <span>{{negativePercent}}%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>

              <div class="image" ng-repeat="eachObj in newsNegativeDataArray">
                <div id="lightenUp">
                <a ng-href="{{eachObj.url}}" target="_blank">
                <img ng-src="{{eachObj.urlToImage}}" height="228px" width="304px"/></a>
                  <h5 id="text">{{eachObj.title}}</h5>
                  </div>
              </div>
            </div>

          </div>
  </div>

  </body>

</html>
