
body{
  margin: 0px;
  background-color: #66FFFF;
}

#grad1 {
  height: 65px;
  background: -webkit-linear-gradient(left, rgba(19,48,110,0), rgba(19,48,110,1));
  border-bottom: 5px solid black;

}
.brand {
    color: #00CCCC; font-family: "Great Vibes", cursive; font-size: 35px;  text-shadow: 0 1px 1px #fff;
    position: absolute;
    left: 20px;
}


#cont1{
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
}
#cir1{
  padding-left: 35%;
}
#cir2{
  padding-left: 35%;
}
#cir3{
  padding-left: 35%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 68px;
}

.col-md-4{
  text-align: center;
}
.col-sm-4{
  text-align: center;
}
#cir1 .c100:hover>span{
    color: magenta;
}
#cir2 .c100:hover>span{
    color: black;
}
#cir3 .c100:hover>span{
    color: brown;
}

.c100.p51 #f1{
  border: 0.08em solid brown;
}

#cont2{
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
}

#navlist1>li>a{
    color: #00CCCC;
    font-size: 18px;
}

#navlist1>li>a:hover{
    color: white;
    background-color: #00CCCC;
}

.image{
   position: relative;
   padding-bottom: 25px;
}

#text{

   position: absolute;
    bottom: 20px;
    font-family: 'museo_slab500';
    left: 8%;
    font-size: 120%;
    color: #fff;
    padding: 0 20px;
    width: 85%;
    line-height: 100%;

}
