
body{
  margin: 0px;
  background-color: #66FFFF;
}

header{
  height: 5%;
  width: auto;
}

.navbar-inverse .navbar-header .navbar-brand {
    font-size: 30px;
    color: #00CCCC;
}

.navbar-form .form-group button{
  padding: 8px 25px;
}

#cont1{
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
}
#cont1 #cir1{
  padding-left: 65px;
}
#cont1 #cir2{
  padding-left: 65px;
}
#cont1 #cir3{
  padding-left: 65px;
}

#cir1 .c100:hover>span{
    color: magenta;
}
#cir2 .c100:hover>span{
    color: ivory;
}
#cir3 .c100:hover>span{
    color: brown;
}

.c100.p51 #f1{
  border: 0.08em solid brown;
}

#cont2{
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
}

#navlist1>li>a{
    color: #00CCCC;
    font-size: 18px;
}

#navlist1>li>a:hover{
    color: white;
    background-color: #00CCCC;
}

.image{
   position: relative;
   padding-bottom: 25px;
}

#text{
   position: absolute;
   top: 110px;
   left: 3px;
   width: 75%;
   color: white;
}


/*footer{
  position: absolute;;
  background-color: black;
  color: blue;
  height: 15%;
  width: 100%;
}

.footdata a{
  float: right;
  font-size: 20px;
  color: #00CCCC;
}*/
